.projectTracker {
	margin: 0 auto 50px;
	width: 970px;
}

.no-projects {
	margin: 10px 0;
	text-align: center;
	font-size: 24px;
}

.no-projects-text {
	margin-bottom: 20px;
}

.project-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.num-projects {
	font-size: 24px;
}

.project-lists {
	width:100%;
	margin: 10px auto;
}

.ind-project {
	width: 100%;
}