.ind-project {
	margin: 1px 0;
}

.project-row {
	width: 100%;
	background: #B7B39F;
}

.chapter-row {
	width: 100%;
}

.project-edits, .chapter-edits {
	display: inline;
}

.project-btn {
	width: 80%;
}
