.not-implemented {
	margin: 100px auto;
	width: 80%;
	text-align: center;
	display: flex;
}
.text-area {
	text-align: center;
	margin: 0 auto
}

.apology {
	font-size: 64px;
	font-weight: bolder;
	font-style: italic;
}

.explanation {
	width: 400px;
	margin: 20px auto;
	font-size: 28px;
}