.home-card {
	margin: 10px auto;
	max-width: 275px;
	min-width: 275px;
}

.icon-large {
	margin: 10px 0 0;
	transform: scale(2);
}

.card-text {
	padding-top: 10px;
	text-align: center;
	font-size: 1.5rem !important;
}

.card-icon {
	display: block;
	width: 100%;
	text-align: center;
}